/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.list-inline {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline i {
  font-size: 40px;
  color: rgb(253, 224, 3);
  transition: transform 0.3s ease, color 0.3s ease;
}

.list-inline i:hover {
  transform: scale(1.2);
  color: rgb(10, 203, 74);
}
